body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: none;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

#copyRights {
  color: #9ca3af;
}

.heroSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection .button {
  background-color: #0284c7;
  border-radius: 9px;
  padding: 0.6rem 1rem;
  font-size: medium;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  margin: 0 0.3rem;
}

#heading-1 {
  color: black;
}

#heading-2 {
  color: #0284c7;
}

footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.7rem;
  background-color: #111827;
}

.imagesContainer {
  box-sizing: content-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1.3rem 0rem;
  justify-content: center;
}

.images {
  border-radius: 7px;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .header div {
    margin: 1rem;
  }

  .navs {
    color: #374151;
    text-decoration: none;
    font-size: small;
    margin: 0.2rem;
    margin-left: 0.3rem;
  }

  @media (max-width: 424px) {
    .navs {
      display: flex;
      flex-direction: column;
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    color: #0284c7;
  }

  #image1 {
    min-width: 4rem;
    max-width: 7rem;
    margin: 0.3rem;
  }

  #image2 {
    min-width: 8rem;
    max-width: 14rem;
    margin: 0.3rem;
  }

  .heroSection .info {
    color: #4b5563;
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
    padding: 0rem 3rem 1rem 3rem;
  }

  .headingContainer {
    display: block;
    text-align: center;
    margin-top: 3rem;
  }

  .heading {
    padding-left: auto;
    padding-right: auto;
    font-size: 2rem;
    font-weight: bold;
  }

  .footer .container {
    box-sizing: border-box;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
  }

  #footerLogo {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navs {
    color: #374151;
    text-decoration: none;
    margin: 0.2rem;
  }

  .logo {
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    color: #0284c7;
  }

  #image1 {
    min-width: 15rem;
    max-width: 24rem;
    margin: 0.6rem;
  }

  #image2 {
    min-width: 26rem;
    max-width: 33rem;
    margin: 0.6rem;
  }

  .heroSection .info {
    color: #4b5563;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 100;
    padding: 0rem 4rem 1rem 4rem;
  }

  .headingContainer {
    display: block;
    text-align: center;
    margin-top: 5rem;
  }

  .heading {
    padding-left: auto;
    padding-right: auto;
    font-size: 3.3rem;
    font-weight: bolder;
  }

  .footer .container {
    box-sizing: border-box;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
  }

  #footerLogo {
    color: white;
  }

}

@media (min-width: 1025px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding: 0.7rem;
    padding-left: 6rem;
    padding-right: 6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navs {
    color: #374151;
    text-decoration: none;
    font-size: larger;
    margin: 1.1rem;
  }

  .logo {
    font-size: 2.2rem;
    font-weight: bolder;
    cursor: pointer;
    color: #0284c7;
  }

  #image1 {
    min-width: 30rem;
    max-width: 40rem;
    margin: 0.6rem;
  }

  #image2 {
    min-width: 39rem;
    max-width: 50rem;
    margin: 0.6rem;
  }

  .heroSection .info {
    color: #4b5563;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 200;
    padding: 0rem 9rem 1rem 9rem;
  }

  .heroSection .button {
    width: 29rem;
    background-color: #0284c7;
    border-radius: 9px;
    padding: 0.7rem 1rem;
    font-size: x-large;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button svg {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .headingContainer {
    display: block;
    text-align: center;
    margin-top: 9rem;
  }

  .heading {
    padding-left: auto;
    padding-right: auto;
    font-size: 5rem;
    font-weight: bolder;
  }

  footer {
    margin-top: 2rem;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #111827;
  }

  .footer .container {
    box-sizing: border-box;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 2rem;
  }

  #footerLogo {
    color: white;
  }

}